:root {
  --nav-height: 10vh;
  --main-height: 90vh;
}

#root {
  background: url(/src/assets/images/black-design-background.jpg);
  background-size: cover;
  height: 100%;
}

.app {
  display: grid;
  grid-template-rows: var(--nav-height) var(--main-height);
}

.left,
.right {
  align-items: center;
  display: flex;
}

.logo, .icon, a {
  cursor: pointer;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

.logo:hover,
.icon:hover,
a:hover,
.link-item:hover {
  transform: scale(1.2);
}

.icon {
  height: 7vh;
}

li {
  list-style-type: none;
}
